.card {
  display: flex;
  padding: 2rem 0;
  /* margin: 28px 40px 28px 40px; */
}

.card--info {
  margin-left: 1em;
  padding: 0.5em;
  text-align: left;
}

.card--stats {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.card--image {
  height: 100%;
  width: 20em;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.3em;
  transform: scale(1);
  transition: all 650ms ease-in-out;
}

.card--image:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.card--pin {
  height: 12px;
}

.card--country {
  margin: 0 1em 0 0.25em;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.17rem;
  color: #2B283A;
}

.card--map {
  margin-left: 1.5rem;
  font-size: 0.75rem;
  text-decoration-line:underline;
  color: #918E9B;
}

.card--title {
  font-weight: 700;
  font-size: 2rem;
  color: #2B283A;
  margin: 0.25rem 0;
}

.card--date {
  margin: 0;
  font-weight: 700;
  margin-top: 13px;
}

.card--description {
  max-width: 50rem;
  margin-top: 2rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #2B283A;
}

.cards-list > .card + .card {
  padding: 2rem 0;
  border-top: 1px solid #918e9b;
}

.cards-list .card:first-child {
  padding-top: 0;
}

.cards-list .card:last-child {
  padding-bottom: 0;
}