nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0;
  background-color: #F55A5A;
  gap: 0.5rem;
  height: 3.5rem;
}

.nav--title {
  color: white;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: -0.075em;
  font-size: 1.5rem;
  margin: 0 0 0 0.5rem;
}

.nav--logo {
  height: 1.5rem;
}